.home {
  padding: 14px;

  .nut-col {
    .nut-cell {
      margin-top: 0;
    }
  }
}

.card-container {
  width: 100%;
  min-height: 30px;

  .card-title {
    font-weight: bold;
    font-size: 12px;
    color: #333;
  }

  .card-extra {
    font-size: 9px;
    color: #989898;
  }
}
