.page-me {
  .avatar {
    &-name {
      color: #333;
      font-size: 16px;
      font-weight: 600;
    }

    &-text {
      font-size: 10px;
    }
  }

  .cell-text {
    font-size: 14px;
    color: #333;
  }
}

.contact {
  position: relative;

  .contact-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    opacity: 0;
  }
}

.avatar-opendata {
  width: 40px;
  height: 40px;
}
