@import "./utilities";

page {
  height: 100%;
  background-color: #f1f1f1;
}

.page {
  height: 100%;
  position: relative;
  background-color: transparent;
}

.text-wrap {
  font-size: 12px;
}

.safe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.count-text {
  color: red;
}
